.TitleHeading{
    text-align: center;
    color:yellow;
}
.TitleHeadingAbout{
    text-align: left;
    color:yellow;
    margin-left: 5px;
}
.TaskAdd{
    margin:auto;
    display: block;
}

.TaskAddBtn{
    margin-left: 40rem;
    margin-top: -60px;
}

.card{
    margin-left: 20rem;
    margin-right: 20rem;
    background-color:cadetblue;
}

.TaskAdd{
    width: 50%;
}

body{
    background-color: darkcyan;
}

.aboutDiv{
    color: white;
    text-align: left;
    margin-left: 10px;
}

.Tasklist{
    color: yellow;
}

.navBar{
    background-color: darkcyan;
}

.navBar,.TitleHeading{
    text-align: center;
}

.headingLi{
    text-align: center;
}

.navbar-custom {
    background-color: darkcyan;
}

.Home{
    margin-top: 50px;
}

.EmptyDiv{
    text-align: center;
    color: yellow;
}

.searchLabel{
    color: Yellow;
    margin-left: 63%;
    font-size: 18px;
}